#body{
    margin-top: 20px;
}

.image-container {
    position: relative; 
    width: 30rem;
    height: 20rem; 
    margin-bottom: 20px;
  }
  
  .image-container img {
    width: 100%; 
    height: 100%; 
    display: block; 
  }
  
  .top {
    position: absolute; 
    top: 20%; 
    left: 50%;
    
    transform: translate(-50%, -50%); 
    color: white; 
    padding: 10px 20px; 
    font-size: 25px; 
    font-weight: bold;
    text-align: center; 
  }
  .bottom {
    position: absolute; 
    top: 80%; 
    left: 50%;
    
    transform: translate(-50%, -50%); 
    color: white; 
    padding: 10px 20px; 
    font-size: 25px; 
    font-weight: bold;
    text-align: center; 
  }
  .image-container span{
    position: absolute;
    text-align: center;
    margin-block: 15px;
    padding-inline: 5px;
    font-family: impact, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
  }