.die-body{
    color: black;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    width:15vh;
    height:15vh;
    margin: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}
.die-held{
    color: rgb(236, 236, 236);
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 174, 23);
    border-radius: 15px;
    width:15vh;
    height:15vh;
    margin: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}
.die-num{
    font-family: Inter, sans-serif;
    font-size: 25px;
    font-weight: bold;
}